 body{
    margin: 0px;
 }
 .form{
    display: flex;
    align-items: center;
    margin: 30px auto;
    background-color: whitesmoke;
    width: 700px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px black;
    

}
.form_input{
    text-align: center;
}

.form_input input{
   border: 0px;
   height:30px ;
   width: 250px;
   margin: 10px 0px;
   border-radius: 10px;
   outline: none;
   padding-left: 10px;
   background-color:rgb(241, 216, 216);
}
.form_input button{
    border: none;
    background-color:rgb(7, 5, 18);
    border-radius: 7px;
    padding: 8px 8px;
    color: white;
    margin-left: 6px

}
#btn1{
    padding: 8px 20px;
}