.celebrities{
    text-align: center;
    background-color: rgba(5, 5, 34, 0.996);
}
.celebrities h1{
    color: white;
    margin: 0px;
}
.list img{
    border-radius: 100px;

}
.list{
   
    background-color: rgba(0, 0, 0, 0.685);
    color: aliceblue;
    
    /* margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px; */
    width: 75%;
    margin: 0px auto;
    margin-top: 10px;
   
}
.list button{
    border-radius: 4px;
    padding: 6px;
}